@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}
<style>
    .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
</style>

<!--Google Maps-->

<div id="map-container " class="z-depth-1-half map-container border rounded-top " style="margin-top:50px;">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.399795009871!2d80.95843869999769!3d26.848003978074534!2m3!1f0!2f38.63576094697924!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x0%3A0xbcefbb4f300d416c!2sMecatredz+Technology+Pvt+Ltd+Lucknow!5e1!3m2!1sen!2sin!4v1565253234539!5m2!1sen!2sin" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
      
    


    
<!--Google Maps-->
    

 


  <!--Main Layout-->


    <div class="container-fluid mb-5">

      <!--Grid row-->
      <div class="row" style="">

        <!--Grid column-->
        <div class="col-md-12">

          <div class="card pb-5">
            <div class="card-body">

              <div class="container">

                <!--Section: Contact v.2-->
                <section class="section">

                  <!--Section heading-->
                  <h2 class="font-weight-bold text-center h1 my-5">Contact us</h2>
                  <!--Section description-->
                  <p class="text-center grey-text mb-5 mx-auto w-responsive">Dj Dhuandhaar & Music store is located at lucknow. TO contact us pls fill the form given below</p>

                  <div class="row pt-5">

                    <!--Grid column-->
                    <div class="col-md-8 col-xl-9">
                      <form method="post" action="/Home/ContactUs" enctype="multipart/form-data">

                        <!--Grid row-->
                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-name" class="form-control" name="TxtName">
                              <label for="contact-name" class="">Your name</label>
                            </div>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-email" class="form-control" name="TxtEmail">
                              <label for="contact-email" class="">Your email</label>
                            </div>
                          </div>
                          <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!----grid column---->
                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-Subject" class="form-control" name="TxtSubject">
                              <label for="contact-Subject" class="">Subject</label>
                            </div>
                          </div>
                       

                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-mobile" class="form-control" name="TxtMobile">
                              <label for="contact-mobile" class="">Your Number</label>
                            </div>
                          </div>
                             </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-12">

                            <div class="md-form">
                              <textarea  id="contact-message" class="md-textarea form-control" rows="3" name="message"></textarea>
                              <label for="contact-message">Your message</label>
                            </div>

                          </div>
                        </div>
                          <div class="text-center text-md-left my-4">
                       <button type="submit" class="btn purple-gradient">Send</button>
                      </div>
                        <!--Grid row-->

                      </form>

                      
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 col-xl-3">
                      <ul class="contact-icons text-center list-unstyled">
                        <li>
                          <i class="fas fa-map-marker fa-2x orange-text" style="margin-top:20px;"></i>
                          <p>Mecatreds Technology,Lucknow,India</p>
                        </li>

                        <li>
                          <i class="fas fa-phone fa-2x orange-text" style="margin-top:20px;"></i>
                          <p>+91-8090516186</p>
                        </li>

                        <li>
                          <i class="fas fa-envelope fa-2x orange-text" style="margin-top:20px;"></i>
                          <p>acspfzd@gmail.com</p>
                        </li>
                      </ul>
                    </div>
                    <!--Grid column-->

                  </div>

                </section>
                <!--Section: Contact v.2-->

              </div>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>

    </div>

 
  <!--Main Layout-->
  