@{
    ViewBag.Title = "Upload Files";
    Layout = "~/Views/Shared/Admin_Master.cshtml";
}

<script>

    $('.file-upload').file_upload();
</script>

<div class="container-fluid">
    <!--Section: Main panel-->
<section class="card card-cascade narrower mb-5">

  <!--Grid row-->
  <div class="row">

  
      <!--Grid column-->
<div class="col-md-12">

  <!--Panel Header-->
  <div class="view view-cascade py-4 gradient-card-header pink">
      <h5 class="mb-0">Upload Files Here </h5>
  </div>
  <!--/Panel Header-->

  <!--Panel content-->
  <div class="card-body" style="min-height:500px;margin-top:50px;">

      <!--Grid row-->

      <div class="row">

    <div class="col-sm-1">

    </div>

          <div class="col-sm-10 ">
              <form class="md-form" action="/Admin/Upload" method="post" enctype="multipart/form-data">
                  <input type="text" class="form-control" placeholder="Enter Songs Name" required="yes" name="TxtSongname" />
                  <div class="file-field big">
                      <a class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
                          <i class="fas fa-paperclip" aria-hidden="true"></i>
                          <input type="file" multiple name="fileupload">
                      </a>
                      <div class="file-path-wrapper">
                          
                          <input class="file-path validate" type="text" placeholder="Upload one or more files" >
                      </div>
                  </div>
                  <button type="submit" class=" btn btn-success float-right">Upload</button>
              </form>
              
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>
      <!--Grid row-->

  </div>
  <!--Panel content-->

</div>
<!--Grid column-->



  
  
 

</section>
<!--Section: Main panel-->

</div>

